JWT_SECRET=wYYymgpFMPVY2WJGoPbktTDxqkDzE6bETFxURJYuMQ3mvStEQVzxV8Pon8A06YE6btATDcwXAFH5M7qQisiVCe
SPRING_DATASOURCE_URL=jdbc:mysql://db:3306/xclone_db
APP_PORT=8080
SPRING_DATASOURCE_USERNAME=xclone
SPRING_DATASOURCE_PASSWORD=password
DATABASE_NAME=xclone_db
XBT=